.heroes{
    position: absolute;
}

.card{
    position: relative;
    background-color: #fff;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 60vh;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0px 18px 50px 0px  rgb(0,0,0,0.3);
}
.tinderCards_Container{
    display:  flex;

    justify-content: center;
    margin-top: 20px;
}

.swipe{
    position: absolute;
}

.card > h3{
    position: absolute;
    color: white;
}